
.projects-card {
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100vh !important;
    box-shadow: 0 4px 5px 3px rgba(79, 136, 53, 0.459) !important;
}
.projects-card:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}