
.skills-container {
    margin-top: 150px;
}
.skills-programme-stack-row {
    justify-content: center;
    padding-bottom: 50px;
}
.skills-programme-stack-col {
    justify-content: center;
}
.area-expertise-heading {
    font-size: 2.3em;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.skills-other-skills-row {
    justify-content: center;
    padding-bottom: 50px;
}
.skills-other-skills-col {
    justify-content: center;
}