.contact-section {
    margin-top:100px;
    padding: 10px;
}
.contact-container {
    background-color: rgb(19, 26, 23) !important;
    border-radius: 25px;
    padding: 10px;
}
.contact-title-row {
    padding: 10px;
}
.title-paragraph {
    color: #fff;
}
.contact-form-row {
    padding: 10px;
}
.form {
    box-shadow: 0px 5px 35px rgb(111, 103, 223);
    border-radius: 25px;
    padding: 15px;
}
.img-form {
    overflow: hidden;
}
.img-email-contact:hover {
   transform: scale(1.25);
    
}
.form-label {
    color: white;
}
.thankyoumessage {
    color: "white";
    background: linear-gradient(100deg, rgb(140, 26, 255) 0%, rgb(204, 0, 102) 25%);
    width: 50%;
    text-align: center;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .contact-container {
        margin-bottom: 150px;
    }
    .form-contact {
        margin-top: 20px !important;
    }
    .thankyoumessage {
        color: white;
        background: linear-gradient(100deg, rgb(140, 26, 255) 0%, rgb(204, 0, 102) 25%);
        width: auto;
        text-align: center;
        height: 30px;
        margin-top: 10px;
        border-radius: 5px;
    }
}